@font-face {
    font-family: 'GlueGun';
    src: url('GlueGun/GlueGun.eot');
    src: url('GlueGun/GlueGun.eot?#iefix') format('embedded-opentype'),
        url('GlueGun/GlueGun.woff2') format('woff2'),
        url('GlueGun/GlueGun.woff') format('woff'),
        url('GlueGun/GlueGun.ttf') format('truetype'),
        url('GlueGun/GlueGun.svg#GlueGun') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

