.footer-cntlr {
    text-align: center;
}
footer.footer-wrp {
    background: #16202F;
    padding-top:32px;
    padding-bottom:10px;
}
@media(max-width:1199px){
	.ftr-logo a {
	    max-width: 230px;
	}
}
@media(max-width:991px){

}
@media(max-width:767px){
	.ftr-logo a {
	    max-width: 200px;
	}
}
@media(max-width:575px){}