header.header {
    background-image: url(../images/header-bg.jpg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:11;
}
.home header.header {
    background-image:none;
}
.home .header-inr{
    padding-bottom:0;
}
.header-inr{
	display: flex;
	padding-top: 33px;
    padding-bottom: 30px;
}
.home header.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.hdr-rgt{
	display: flex!important;
	margin-left: auto;
}
.home .logo a {
    display: inline-block;
    vertical-align: baseline;
    max-width: 250px;
    width: 100%;
}
.logo a {
    max-width: 190px;
    display: inline-block;
    width: 100%;
    vertical-align: baseline;
}
.home .logo{
    margin-top:0;
}
.logo {
    margin-top: -23px;
}
nav.main-nav > ul {
    padding-top: 17px;
}
nav.main-nav ul{
	 
}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	font-size: 15px;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
}
nav.main-nav > ul{
	display: flex;
}
nav.main-nav > ul > li{
	padding: 0 20px;
}
nav.main-nav > ul > li > a {
    padding-right: 18px;
    padding-bottom: 20px;
    position: relative;
    text-transform: capitalize;
}
nav.main-nav > ul > li.menu-item-has-children > a:after {
    content: "";
    background: url(../images/hdr-menu-arrow.svg);
    position: absolute;
    height: 6px;
    width: 10px;
    background-repeat: no-repeat;
    right: 0;
    top: 5px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:after{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    background: url(../images/hdr-menu-arrow-hover.svg);
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #16202F;
    z-index: -9999;
    width: 333px;
    padding: 0;
    padding-top: 7px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 20px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
     -webkit-transition: all 0.5s; 
     transform: scale3d(1,0,1); 
    -ms-transform: scale3d(1,0,1);
     -webkit-transform: scale3d(1,0,1); 
    -o-transform: scale3d(1,0,1);
     transform-origin: top; 
     opacity: 0; 
     box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%); 
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
     -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%); 
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
nav.main-nav > ul > li.current-menu-item > a{

}
nav.main-nav > ul > li.menu-item-has-children > a{

}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}
.hdr-rgt-btn {
    padding-left: 20px;
    padding-top: 5px;
}
.hdr-rgt-btn .hdr-btn{
    vertical-align: baseline;
    color: #fff;
    text-decoration: none;
    min-width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 15px;
    border: 1px solid #FF1C1C;
    line-height: 1;
    font-weight: 600;
}
.home .hdr-rgt-btn .hdr-btn {
    vertical-align: baseline;
    color: #fff;
    text-decoration: none;
    min-width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 15px;
    border: 1px solid #FF1C1C;
    line-height: 1;
    text-transform: capitalize;
    font-weight: 600;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    font-size: 13px;
    padding: 19px 0px;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    border-bottom: 1px solid #2C3A4E;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child {
    border: none;
}
.hdr-rgt-btn .hdr-btn:hover {
    background: #FF1C1C;
}
.hamburgar{
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-icon {
    height: 17px;
    width: 17px;
    position: relative;
}
.hamburger-icon span {
    position: absolute;
    content: "";
    border-radius: 5px;
    height: 3px;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
}
.hamburger-icon span:nth-child(2) {
    top: 7px;
}
.hamburger-icon span:nth-child(3) {
    top: 14px;
}
body.allWork .hamburger-icon span:nth-child(1) {
    top: 7px;
    left: 0;
    transform: rotate(45deg);
}
body.allWork .hamburger-icon span:nth-child(3) {
    top: 7px;
    left: 0;
    transform: rotate(-45deg);
}

body.allWork .hamburger-icon span:nth-child(2){
    content: none;
    display: none;
}
.allWork .bdoverlay {
    z-index: 999;
    opacity: 1;
}
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
body.allWork {
    overflow: hidden!important;
}
.allWork .xs-mobile-menu {
    right: 0;
    opacity: 1;
    z-index: 99999;
    width: 375px;
}
.allWork .bdoverlay {
    z-index: 999;
    opacity: 1;
}
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
.xs-mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background: #101010;
    width: 0;
    z-index: 99999;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 30px 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

@media(max-width:1199px){
    .home .logo a {
        max-width: 200px;
    }
    nav.main-nav > ul > li {
        padding: 0 14px;
    }
    .hdr-rgt-btn .hdr-btn{
        min-width:175px;
    }
    nav.main-nav > ul > li > a{
        padding-right:18px;
    }
    .hdr-rgt-btn {
        padding-left: 14px;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
        width:285px;
        padding-left:15px;
        padding-right:15px;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
        font-size:12px;
    }
}

@media(max-width:991px){
    .logo {
         margin-top:0px; 
    }
    .hamburgar-cntlr {
        margin-left: auto;
    }
    .header-inr{
        align-items: center;
           padding-top: 15px;
    }
    .xs-pop-up-menu-top {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        background: #101010;
    }
    .xs-menu{
        height: 100%;
        width: 100%;
        overflow-y: auto;
        padding: 150px 20px 5px;
    }
    nav.main-nav > ul {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
    nav.main-nav > ul > li {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        padding-bottom: 15px;
    }
    nav.main-nav > ul > li > a:after{
        content: none;
    }
    nav.main-nav > ul > li > a{
        padding-right:0;
    }
     
     nav.main-nav > ul > li.menu-item-has-children > a:after {
        height: 11px;
        width: 17px;
        background-size: contain!important;
        right: -35px;
        background-repeat: no-repeat!important;
    }
  
    nav.main-nav > ul > li.menu-item-has-children.sub-menu-arrow:hover > a:after {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    nav.main-nav > ul > li.menu-item-has-children:hover > a:after {
        transform: initial;
        -ms-transform: initial;
        -webkit-transform: initial;
        -o-transform: initial;
    }

    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
        position: static;
        z-index: 15;
        width: 100%;
        padding: 0;
        transition: initial;
        transform: initial;
        opacity: 1;
        box-shadow: none;
        display: none;
        background: transparent!important;
        padding-top: 30px;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
        border-bottom: none;
        padding-bottom: 10px;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after{
        content: none;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
        font-size: 18px;
        padding: 0;
        padding-bottom: 10px;
        line-height: 1.3;
    }
    nav.main-nav > ul > li > a {
        font-size: 20px;
        padding-bottom: 10px;
    }
    nav.main-nav > ul > li.menu-item-has-children > a {
        padding-right: 0;
    }
    nav.main-nav > ul > li.menu-item-has-children > a:before{
        right: -30px;
        height: 15px;
        width: 20px;
        background-size: contain;
    }
    nav.main-nav > ul > li.menu-item-has-children:hover > a:before{
        transform: initial;
        -ms-transform: initial;
        -webkit-transform: initial;
        -o-transform: initial;
    }
    nav.main-nav > ul > li.menu-item-has-children.sub-menu-arrow > a:before{
        transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
    }
    .hdr-menu {
        margin-bottom: 20px;
    }

    .xs-contact-btn {
        text-align: center;
    }
    .xs-contact-btn a {
        background: #FF1C1C;
        border: 2px solid #ff1c1c;
    }
    .xs-contact-btn a:hover{
        background:transparent;
        color:#FF1C1C;
    }
}
@media(max-width:575px){
    .header-inr{
        padding-bottom:15px;
    }
}