.hm-bnr-img {
    max-width: 600px;
    width: 100%;
    position: absolute;
    right: 0;
    top: -78px;
}
.hm-banner-des {
    width: 47%;
}
.hm-bnr-cntlr {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 118px;
    padding-bottom: 80px;
    z-index:5;
}
.hm-banner {
    padding-top: 210px;
    position: relative;
}
.hm-bnr-title,
.sec-entry-hdr-title{
    font-family: 'GlueGun';
}
.hm-bnr-title {
    margin-bottom: 35px;
}
.hm-banner-des-inr {
    margin-bottom: 40px;
    padding-right: 40px;
}
.has-vdo .hm-video-cntlr{
    display: block;
}
.has-vdo .hm-bnr-img-ctlr{
    display: none;
}
.hm-video-cntlr {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
    overflow: hidden;
}
.hm-banner-bg-black {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    z-index: 1;
}
.hm-bnr-img-ctlr{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}
#bnr-vdo {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}

.hm-bnr-img-ctlr .hm-banner-bg{
    height: 100%;
    width:100%;
    background-color: #001825;
}
/*best-site-selection*/

thead.tbl-thead tr th span {
    font-size: 16px;
    letter-spacing: 0.255em;
    font-weight: 400;
    text-transform: uppercase;
}

td.best-site-thumbnail a {
    vertical-align: baseline;
    max-width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: #001825;
}
tbody.tbl-bdy tr:nth-child(2) td.best-site-thumbnail a {
    background: #121212;
}
tbody.tbl-bdy tr:nth-child(3) td.best-site-thumbnail a {
    background: #ed1b24;
}
tbody.tbl-bdy tr:nth-child(4) td.best-site-thumbnail a {
    background: #ffffff;
}
tbody.tbl-bdy tr:nth-child(5) td.best-site-thumbnail a {
    background: #fcbe2c;
}
.site-des p:last-child {
    margin-bottom: 0;
}
td.best-site-thumbnail a img {
    max-height: 100px;
    width: auto;
}
td.best-site-thumbnail a:hover img {
    transform: scale(1.05);
}
.best-site-des {
    padding-left: 40px;
}
.payment-grt-cntlr {
    max-width: 90px;
    height: 90px;
    background: #001825;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.payment-grt-cntlr span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
tbody.tbl-bdy tr td {
    background: #16202F;
    margin-bottom: 17px!important;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
}
thead.tbl-thead tr th {
    text-align: center;
    padding-bottom: 40px;
}
.best-site-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}
.table-dsc {
    margin-bottom: 50px;
}
.site-des p {
    font-size: 14px;
    color: #8D95AA;
}
.site-reting span {
    padding: 0 1px;
    display: inline-block;
    vertical-align: baseline;
    line-height: 1;
}
.site-reting {
    display: flex;
    width: 152px;
    height: 32px;
    background: #001825;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
tbody.tbl-bdy tr td.best-site-thumbnail {
    padding-left: 40px;
}
.site-bonus-btn a:not(:last-child) {
    margin-bottom: 19px;
}
td.play-btn {
    width: 20%;
    padding-right: 40px;
}
td.site-bonus {
    width: 14%;
    text-align: center;
}
td.site-bonus .site-bonus-lft strong {
    display: block;
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
td.payment-grate {
    width: 16%;
    position: relative;
}
th.bonus {
    text-align: left!important;
    padding-left: 44px;
}
td.bst-site-des {
    width: 30%;
    padding-right: 30px;
}
td.best-site-thumbnail {
    width: 20%;
}
td.payment-grate:after {
    content: "";
    position: absolute;
    height: 75%;
    width: 1px;
    background: #2C3A4E;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
}
td.site-bonus:before{
    content: "";
    position: absolute;
    height: 75%;
    width: 1px;
    background: #2C3A4E;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
}
.more-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.255em;
    text-transform: uppercase;
}

.more-btn {
    text-align: center;
    position: relative;
}
.more-btn a:after {
    content: "";
    position: absolute;
    background: url(../images/more-btn-arrow.svg);
    height: 31px;
    width: 24px;
    left: 50%;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    bottom: -53px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    background-size:cover;
    background-repeat: no-repeat;
}
.more-btn a:hover{
    color:#FF282E;
}
.more-btn a:hover:after {
    transform: translate(-50%,10px);
    -ms-transform: translate(-50%,10px);
    -webkit-transform: translate(-50%,10px);
}
.best-site-selection-sec{
    padding-bottom:130px;
    padding-top:40px;
}
.tbl-bdy tr:not(:last-child) {
    border-bottom: 17px solid #001825;
}




/*best-site-selsection-2nd*/
.bst-site-cart-item-heading{
    display: flex;
}
.pog-site-thumbnail-name{
    width:50%;
    text-align: center;
}
.pog-site-price-grt-title{
    width: 17%;
    text-align: center;
}
.pog-site-bonus-title{
    width:33%;
    text-align: left;
    padding-left:44px;
}
.pog-site-thumbnail-name span,
.pog-site-price-grt-title span,
.pog-site-bonus-title span{
    font-size: 16px;
    letter-spacing: 0.255em;
    font-weight: 400;
    text-transform: uppercase;
}
.best-site-cart-dsc-cntlr ul li:first-child {
    background: transparent;
    padding-bottom: 23px;
    padding-top: 0px;
}
.best-site-cart-dsc-cntlr ul li{
    background: #16202F;
    padding-top:35px;
    padding-bottom:35px;
    margin-bottom:17px;
    padding-left:40px;
    padding-right: 40px;
}
.best-site-cart-dsc-cntlr ul li:nth-child(3) .pog-site-thumbnail a {
    background: #121212;
}
.best-site-cart-dsc-cntlr ul li:nth-child(4) .pog-site-thumbnail a {
    background: #ed1b24;
}
.best-site-cart-dsc-cntlr ul li:nth-child(5) .pog-site-thumbnail a {
    background: #ffffff;
}
.best-site-cart-dsc-cntlr ul li:nth-child(6) .pog-site-thumbnail a {
    background: #fcbe2c;
}
.best-site-cart-dsc {
    margin-bottom: 50px;
}
.bst-site-cart-item {
    display: flex;
    flex-wrap: wrap;
}

.pog-site-thumbnail {
    width: 50%;
    display: flex;
}
.pog-site-thumbnail a img {
    max-height: 100px;
    width: auto;
}
.pog-site-price-grt {
    max-width: 190px;
    border-left: 1px solid #2C3A4E;
    border-right: 1px solid #2C3A4E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.pog-site-bonus-btn a {
    min-width: 100%;
}
.pog-site-bonus {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pog-site-btn {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pog-site-thumbnail a {
    vertical-align: baseline;
    max-width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: #001825;
}
.pog-site-des{
    padding-left:40px;
    padding-right: 40px;
    margin-top: 10px;
}

.pog-site-price-grt-cntlr{
    max-width: 90px;
    height: 90px;
    background: #001825;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.pog-site-price-grt-cntlr span{
    text-transform: uppercase;
    display: inline-block;
    vertical-align: baseline;
    font-size:20px;
    font-weight:600;
}


.POG-site-bonus-lft strong {
    display: block;
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}
.POG-site-bonus-lft {
    max-width: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.pog-site-bonus-btn a:not(:last-child) {
    margin-bottom: 19px;
}




















/*pk-strtgy-tls-sec*/
.sec-entry-hdr{
    padding-bottom:60px;
}
.Poker-Strategy-Tools-sec  .sec-entry-hdr{
    padding-bottom: 60px;
}
.Poker-Strategy-Tools-sec {
    padding-top: 75px;
    padding-bottom: 110px;
    background: #16202F;
}
.Poker-Strategy-Tools-sec-cntlr{
    display: flex;
}
.fl-h5.pk-strtgy-tls-title {
    line-height: 1.38;
}
.pk-strtgy-tls-img {
    height: 100%;
    width: 100%;
}
.pk-strtgy-tls-lft-img {
    height: 540px;
    max-width: 490px;
    width: 100%;
    position: relative;
}
.pk-strtgy-tls-des{
    padding-left:55px;
}
.pk-strtgy-tls-des p {
    color: #858DA2;
    margin-bottom: 25px;
}
.pk-strtgy-tls-des a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 22px;
    text-transform: capitalize;
}
.pk-strtgy-tls-des a:hover{
    color:#FF1C1C;
}
.pk-strtgy-tls-des-btn svg {
    position: relative;
    margin-top: -5px;
}
.pk-strtgy-tls-des-btn a:hover+svg{
    transform: translateX(5px);
}
.pk-strtgy-tls-lft-img span {
    font-size: 16px;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    background: #001825;
    width: 200px;
    display: flex;
    height: 60px;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: absolute;
    top: 23px;
    left: 0;
}

/*news-section*/
.news-sec-cntlr{
    overflow: hidden;
}
.news-grid-item-div {
    width: 100%;
    height: 100%;
}
.news-grid-item-img {
    height: 440px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2C3A4E;
    
}
.news-grid-item-img-ineer{
    width: 100%;
    overflow:hidden;
    height: 100%;
    position: relative;
}
.news-grid-item-div{
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.news-grid-item-img-ineer:hover .news-grid-item-div{
    transform: scale(1.04);
    -ms-transform: scale(1.04);
    -webkit-transform: scale(1.04);
}
.news-grid-item{
    padding: 0 20px;
    position: relative;
}
.news-grid-item.slick-active .item-overlay{
    display: none;
}
.item-overlay {
    position: absolute;
    left: 0;
    right: 0;
    background: rgb(0 24 37 / 50%);
    top: 0;
    bottom: 0;
    z-index: 11;
}
.news-grid{
    margin:0 -20px;
}
.news-grid-item-title {
    line-height: 1.3;
}

.news-grid-item-des {
    padding-top: 30px;
}
.news-grid .slick-list.draggable {
    padding-right: 143px;
}
.news-sec-entry-hdr-cntlr {
    display: flex;
    position: relative;
}
.news-sec-entry-hdr-cntlr .sec-entry-hdr {
    margin-left: initial;
    max-width: 500px;
    padding-bottom: 10px;
}
.fl-prev-next {
    position: absolute;
    margin-right: 33px;
    top: 9px;
}
.news-section {
    padding-top: 170px;
    padding-bottom: 120px;
}
.news-grid-item-title{
    font-size:21px;
}
.news-grid-item-title a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    vertical-align: baseline;
}
.news-grid-item-title a:hover{
    color:#FF1C1C;
}
.fl-prev-next .fl-prev{
    margin-right: 40px;
}
.fl-prev-next i {
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
}
.fl-prev-next i:hover svg.slider-lft-arrow-svg{
    fill:#fff!important;
}
.fl-prev-next i:hover svg.slider-rgt-arrow-svg{
    fill:#fff!important;
}
.fl-prev svg.slider-lft-arrow-svg,
.fl-next .slider-rgt-arrow-svg{
    max-width:70px;
    fill: #FF282E;
}

@media(max-width:1199px){
    /*hm-banner-sec*/
    .hm-bnr-cntlr {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .hm-bnr-img {
        max-width: 500px;
    }
    .hm-banner-des {
        width: 49%;
    }
    .hm-bnr-title {
        margin-bottom: 25px;
    }
    .hm-banner-des-inr {
        padding-right: 0px;
    }

    /*best-site-selection-sec*/
    tbody.tbl-bdy tr td.best-site-thumbnail{
        padding-left: 30px;
    }
    .best-site-des {
        padding-left: 20px;
    }
    td.play-btn {
        padding-right: 20px;
    }
    td.best-site-thumbnail a{
        width:190px;

    }
    td.bst-site-des {
        padding-right: 20px;
    }
    .more-btn a{
        font-size:15px;
    }
    .site-bonus-btn a{
        min-width:180px;
    }

    /*best-site-selection-sec-2nd*/
    .pog-site-price-grt-title{
        width: 21%;
    }
    .pog-site-bonus-title {
        width: 29%;
    }
    .pog-site-des {
        padding-left: 20px;
        padding-right: 20px;
    }

    .best-site-cart-dsc-cntlr ul li {
        padding-left: 25px;
        padding-right: 25px;
    }

    .pog-site-thumbnail a img {
        max-height: 80px;
    }

    .pog-site-price-grt-cntlr {
        max-width: 80px;
        height: 80px;
    }

    .POG-site-bonus-lft {
        width: 44%;
        padding-left: 12px;
        padding-right: 12px;
    }


    .pog-site-price-grt{
        max-width:155px;
    }
   /* .pog-site-bonus-btn .fl-btn{
        min-width:170px;
    }*/
    .pog-site-bonus {
        width: 32%;
    }
.pog-site-btn{
    width:18%;
}











    /*Poker-Strategy-Tools-sec*/
    .pk-strtgy-tls-lft-img {
        height: 520px;
        max-width: 450px;
        width: 100%;
        position: relative;
    }
    .pk-strtgy-tls-des {
        padding-left: 40px;
    }
    /*news-section*/
    .news-grid {
        margin: 0 -10px;
    }
    .news-grid-item {
        padding: 0 10px;
    }
    .news-grid .slick-list.draggable {
        padding-right: 110px;
    }
    .news-grid-item-img {
        height: 400px;
    }
    .news-grid-item-title {
        font-size: 21px!important;
    }
    .news-section {
        padding-bottom: 100px;
        padding-top: 120px;
    }
    .fl-prev-next{
        top:5px;
    }
}

@media(max-width:991px){

    /* width */
    .xs-mobile-menu ::-webkit-scrollbar {
      width: 4px;
    }
    /* Track */
    .xs-mobile-menu ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 4px #757575;
      border-radius: 10px;
    }
    /* Handle */
    .xs-mobile-menu ::-webkit-scrollbar-thumb {
      background: #FF1C1C; 
      border-radius: 10px;
    }
    /*hm-banner-sec*/
    .hm-bnr-img {
        max-width: 365px;
        top: -30px;
    }
    .hm-bnr-cntlr {
        padding-top: 20px;
        padding-bottom: 80px;
    }
    .fl-red-btn {
        min-width: 175px;
        padding: 16px 20px;
        padding-top: 18px;
    }
    .hm-banner-des-inr {
        margin-bottom: 20px;
    }
    .hm-banner-des {
        width: 50%;
    }

    /*best-site-selection-sec*/
    tbody.tbl-bdy tr {
        display: flex;
        flex-wrap: wrap;
    }

    td.best-site-thumbnail {
        width: 29%;
    }
    .site-bonus-btn .fl-btn {
        min-width: 190px;
        margin-bottom: 0!important;
    }
    .site-bonus-btn a:not(:last-child) {
        margin-right:20px;
    }
    tbody.tbl-bdy tr td.bst-site-des {
        width: 46%;
        display: flex;
        align-items: center;
    }
    thead.tbl-thead {
        display: none;
    }
   td.payment-grate {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        border-left: 1px solid #2C3A4E;
    }
    .payment-grate-inner{
        width:100%;
    }
    td.payment-grate:after{
        display: none;
    }
    td.site-bonus {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    td.site-bonus {
        width: 30%;
        border-top: 1px solid #2C3A4E;
    }
    td.play-btn {
        width: 70%;
        border-top: 1px solid #2C3A4E;
    }
    .best-site-selection-sec {
        padding-bottom: 110px;
    }
    .table-dsc {
        margin-bottom: 30px;
    }
    tbody.tbl-bdy tr td{
        margin-bottom:0!important;
    }



    /*best-site-selection-2nd*/
    .best-site-cart-dsc-cntlr ul li:first-child{
        display: none;
    }

    .pog-site-thumbnail a {
        margin-bottom: 15px;
    }
    .site-reting{
        margin-bottom:10px;
    }
    .pog-site-thumbnail {
        width: 70%;
    }

    .pog-site-bonus {
        width: 30%;
        flex-wrap: wrap;
        border-left: 1px solid #2C3A4E;
    }
    .pog-site-price-grt {
        height: initial;
        border: none;
    }

    .POG-site-bonus-lft {
        width: 100%;
    }
    .pog-site-btn {
    width: 100%;
    margin-top:15px;
        justify-content: left;
        border-top: 1px solid #2C3A4E;
        padding-top:20px;
}
.pog-site-bonus-btn .fl-btn{
    margin-right:20px;
    margin-bottom: 0!important;
    min-width:200px;
    font-size:14px;
}

    .pog-site-des {
    }




    /*Poker-Strategy-Tools-sec*/
    .Poker-Strategy-Tools-sec {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .sec-entry-hdr{
        padding-bottom: 50px;

    }
    .pk-strtgy-tls-lft-img {
        height: 480px;
        max-width:100%;
        width: 100%;
        position: relative;
        margin-bottom:50px;
    }
    .pk-strtgy-tls-des {
        padding-left: 0px;
    }
    .Poker-Strategy-Tools-sec-cntlr {
        flex-wrap: wrap;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    /*news-section*/
    .news-grid .slick-list.draggable {
        padding-right: 75px;
    }
    .news-grid-item-img {
        height: 350px;
    }
    .news-grid-item-title{
        font-size:18px!important;
    }
    .news-grid-item-des {
        padding-top: 20px;
    }
    .news-section {
        padding-bottom: 70px;
        padding-top: 90px;
    }
    .fl-prev svg.slider-lft-arrow-svg, 
    .fl-next .slider-rgt-arrow-svg {
        max-width: 60px;
    }
    .fl-prev-next .fl-prev {
        margin-right: 30px;
    }
    .fl-prev-next {
        top: 2px;
    }
}

@media(max-width:767px){

    /*hm-banner-sec*/
    .hm-banner-des {
        width: 500px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .more-btn a {
        font-size: 14px;
    }
    .more-btn a:after{
        height:26px;
        width:20px;
        bottom:-45px;
    }


    td.best-site-thumbnail a {
        width: 135px;
    }
    td.best-site-thumbnail a img {
        max-height: 51px;
    }
    .site-bonus-btn .fl-btn {
        min-width: 165px;
        margin-bottom: 0!important;
        font-size:14px;
    }
    .site-bonus-btn a:not(:last-child) {
        margin-right:15px;
    }
    /*best-site-selsection-2nd*/
    .pog-site-thumbnail a img {
        max-height: 55px;
    }
.pog-site-thumbnail {
    width: 76%;
}
.pog-site-bonus {
    width: 24%;
}
.best-site-cart-dsc-cntlr ul li {
    padding-left: 15px;
    padding-right: 15px;
}
.pog-site-des {
    padding-left: 15px;
    padding-right: 10px;
}
.pog-site-price-grt-cntlr {
    max-width: 70px;
    height: 70px;
}
.POG-site-bonus-lft strong{
    font-size:20px;
    margin-bottom:0;
}
.POG-site-bonus-lft span{
    font-size:14px;
}
.POG-site-bonus-lft {
    padding-right: 0;
}
.pog-site-price-grt {
    padding-left: 12px;
}


    /*Poker-Strategy-Tools-sec*/
    .Poker-Strategy-Tools-sec {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .pk-strtgy-tls-lft-img {
        height:420px;
        margin-bottom: 30px;
    }
    .pk-strtgy-tls-des p {
        margin-bottom: 20px;
    }
    .pk-strtgy-tls-des a {
        font-size: 18px;
        margin-right: 18px;
    }
    .pk-strtgy-tls-des-btn svg {
        max-width: 45px;
    }
    .sec-entry-hdr {
        padding-bottom: 30px;
    }
    .pk-strtgy-tls-lft-img span {
        width: 170px;
        height: 55px;
        font-size: 14px;
    }

    /*news-section*/
    .news-grid .slick-list.draggable {
        padding-right: 40px;
    }
    .news-section {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .fl-prev-next {
        margin-right: 20px;
    }
}

@media(max-width:575px){
    /*hm-banner-sec*/
    .logo a {
        max-width: 170px;
    }
    .hm-banner {
        padding-top: 180px;
    }
    /*best-site-selection-sec*/
    td.best-site-thumbnail a img {
        max-height: 70px;
        width: auto;
    }
    td.best-site-thumbnail a {
        max-width: 190px;
        width:100%;
    }
    .payment-grt-cntlr {
        max-width: 75px;
        height: 75px;
    }
    .payment-grt-cntlr span {
        font-size: 18px;
    }
       td.payment-grate {
        width: 28%;
        border-top: 1px solid #2C3A4E;
        border-left: none;
    }
    tbody.tbl-bdy tr td.bst-site-des {
        width: 60%;
    }
    .site-bonus-btn a:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px!important;
    }
    tbody.tbl-bdy tr td.best-site-thumbnail {
        width: 40%;
    }
    td.site-bonus {
        width: 28%;
    }
    td.site-bonus .site-bonus-lft span {
        font-size: 13px;
    }
    td.site-bonus .site-bonus-lft strong {
        font-size: 18px;
        margin-bottom: 0;
    }
    td.play-btn {
        width: 44%;
    }
    .site-reting span img {
        max-width: 18px;
    }
    .site-reting {
        width: 130px;
        margin-bottom: 15px;
    }
    .table-dsc {
        margin-bottom: 20px;
    }
    .best-site-selection-sec {
        padding-bottom: 90px;
    }

/*best-site-selsection-2nd*/
.pog-site-thumbnail {
    width: 100%;
}

.pog-site-bonus {
    width: 58%;
    border-left: none;
        border-top: 1px solid #2C3A4E;
}

.pog-site-btn {
    width: 42%;
    margin-top:0;
}

.POG-site-bonus-lft {
    width: 50%;
}

.pog-site-price-grt {
    max-width: 90px;
    padding-left: 0;
}

.pog-site-bonus-btn .fl-btn {
    margin-bottom: 10px!important;
    font-size: 14px;
}
.pog-site-bonus-btn .fl-btn {
    min-width: 172px;
}






    /*Poker-Strategy-Tools-sec*/
    .Poker-Strategy-Tools-sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .sec-entry-hdr{
        padding-bottom: 20px;
    }
    .pk-strtgy-tls-lft-img {
        height: 370px;
        margin-bottom: 20px;
    }
    .pk-strtgy-tls-des p {
        margin-bottom: 15px;
    }
    .default-page-con ul li::before, ul li::before {
        top: 7px;
        background-size: 14px;
    }

    /*news-section*/
    .news-grid-item-img {
        height: 300px;
    }
    .fl-prev-next {
        margin-right: 0px;
    }
    .fl-prev svg.slider-lft-arrow-svg, 
    .fl-next .slider-rgt-arrow-svg {
        max-width: 50px;
    }
    .fl-prev-next .fl-prev {
        margin-right: 20px;
    }
}

@media(max-width:479px){

    tbody.tbl-bdy tr td.best-site-thumbnail {
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
    }

    tbody.tbl-bdy tr td.bst-site-des {
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 0px;
    }

    .site-bonus-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    td.payment-grate{
        width: 50%;
    }
    td.site-bonus{
        width:50%;
    }
    td.play-btn{
        width:100%;
        padding-right:0;
    }
    td.best-site-thumbnail a {
        max-width: 117px;
        height: 117px;
    }
    .site-bonus-btn .fl-btn {
        min-width: 45%;
    }
    .site-bonus-btn a:not(:last-child) {
        margin-right: 10px;
        margin-bottom:0px!important;
    }
    td.best-site-thumbnail a img{
        max-height:52px;
    }
    /*Poker-Strategy-Tools-sec*/
    /*news-section*/
    .news-grid .slick-list.draggable {
        padding-right: 50px;
    }


/*best-site-selection-2nd*/
.pog-site-bonus-btn a:not(:last-child) {
    margin-bottom: 0;
    margin-right: 14px!important;
}
.pog-site-bonus-btn .fl-btn {
    margin-bottom:0px!important;
}
.pog-site-des {
    max-width: 60%;
    padding-right: 0;
    width: 100%;
}
    .pog-site-thumbnail {
    padding-bottom: 15px;
}

.pog-site-thumbnail a {
    max-width: 150px;
    height: 150px;
}

.pog-site-thumbnail a img {
    height: 50px;
}

.pog-site-bonus {
    width: 100%;
    border-top: 1px solid #2C3A4E;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pog-site-btn {
    width: 100%;
    border-top: none;
    border-top: 1px solid #2C3A4E;
    padding-top:30px;
}

.pog-site-bonus-btn .fl-btn {
    width: 50%;
    margin-right: 0!important;
}
.pog-site-bonus-btn {
    display: flex;
}
.pog-site-bonus-btn {
    /* display: flex; */
    width: 100%;
    display: flex;
}
.pog-site-bonus-btn .fl-btn{
        min-width: 138px;
    }

}

@media(max-width:359px){
    tbody.tbl-bdy tr td.best-site-thumbnail{
        width:100%;
    }
    tbody.tbl-bdy tr td.bst-site-des{
        width:100%;
    }
    .site-bonus-btn a:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 10px!important;
    }
    td.play-btn {
        padding-right: 10px;
        padding-left: 10px;
    }
    .site-bonus-btn{
        flex-wrap: wrap;
    }
    .site-bonus-btn .fl-btn{
        width:100%;
    }
    .pog-site-thumbnail {
        flex-direction: column;
        padding-bottom: 15px;
    }
    .pog-site-des{
        max-width:100%;
    }
    .pog-site-bonus-btn a:not(:last-child) {
        margin-right:0px!important;
        margin-bottom:10px!important;
    }
    .pog-site-bonus-btn{
        flex-wrap: wrap;
    }
    .best-site-des {
        padding-right: 20px;
    }
    .pog-site-thumbnail,
    .bst-site-des{
        text-align: center;
    }
    .pog-site-bonus-btn .fl-btn{
        min-width:initial;
        width:100%;
    }
    .pog-site-thumbnail a,
    .site-reting,
    td.best-site-thumbnail a{
        margin-left: auto;
        margin-right: auto;
    }

}