.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}

.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}

/* common button */

.fl-red-btn{
	display: inline-block;
    vertical-align: baseline;
    min-width:210px;
    color: #fff;
    background: #FF1C1C;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    padding: 22px 20px;
    font-weight: 600;
    border: 2px solid #FF1C1C;
    text-decoration: none;
    position: relative;
    padding-top: 22px;
    text-transform: capitalize;
    
}
.fl-red-btn:hover{
	background: transparent;
	color: #FF1C1C;

}
.fl-btn{
	display: inline-block;
    vertical-align: baseline;
    min-width:210px;
    color: #fff;
    background: #001825;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    padding: 18px 20px;
    font-weight: 600;
    border: 2px solid #001825;
    text-decoration: none;
    position: relative;
    padding-top: 22px;
    text-transform: capitalize;
}
.fl-btn:hover{
    background: #FF1C1C;
    border: 2px solid #FF1C1C;
    color: #fff;

}

/*ul li design*/

.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}
.default-page-con ul li, 
ul li {
    padding: 7px 0 25px 46px;
    position: relative;
    line-height: 28px;
}
.default-page-con ul li::before, 
ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    background: url('../images/list-icon.svg');
    background-repeat: no-repeat!important;
    width: 33px;
    background-color: #FF1C1C;
    height: 33px;
    border-radius: 100%;
    background-position: 49% 50%;
}

.default-page-con ol,
ol{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
	padding-left: 32px;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li,
ol li {
	padding: 7px 0 15px 23px;
	position: relative;
	line-height: 28px;
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	position: absolute;
	left: 0;
	top: 0;
	color: #FF1C1C;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	margin-top: 7px;
}

/*sec-entry-hdr*/

.sec-entry-hdr {
    max-width: 845px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.sec-entry-hdr-title {
    text-transform: uppercase;
    margin-bottom: 25px;
}

@media(max-width:1199px){
	.default-page-con ul li, ul li {
	    padding: 7px 0 20px 46px;
	}
	.fl-red-btn{
		min-width:200px;
	}
}
@media(max-width:991px){
	 .default-page-con ul li::before, 
	 ul li::before {
        top: 5px;
        width: 30px;
        height: 30px;
    }
}
@media(max-width:767px){
	.default-page-con ul li::before, 
	ul li::before {
	    top: 6px;
	    width: 28px;
	    height: 28px;
	    background-position: 46% 50%;
	    background-size: 16px;
	}
	.default-page-con ul li, ul li {
	    padding: 7px 0 17px 42px;
	}
}
